[Unit]
Description=Schedule Cachy Freeze automatic snapshot checks

[Timer]
OnBootSec=10min
OnUnitActiveSec=15min
AccuracySec=1min
Persistent=true

[Install]
WantedBy=timers.target
