[Desktop Entry]
Type=Application
Name=CachyFreeze Management Center
GenericName=CachyOS Workstation Management
Comment=Manage freeze, snapshots, users, and updates
Exec=/usr/bin/cachy-freeze-manager
Icon=drive-harddisk
Terminal=false
Categories=System;
Keywords=freeze;deepfreeze;thaw;maintenance;snapshot;
StartupNotify=true
