[Desktop Entry]
Type=Application
Name=Cachy Freeze Yönetim Merkezi
GenericName=CachyOS Workstation Yönetimi
Comment=Freeze, snapshot, kullanıcı ve güncellemeleri yönet
Exec=/usr/bin/cachy-freeze-manager
Icon=drive-harddisk
Terminal=false
Categories=System;
Keywords=freeze;deepfreeze;dondur;erit;bakım;
StartupNotify=true
