[Desktop Entry]
Type=Application
Name=CachyFreeze
GenericName=System Freeze Utility
Comment=Switch this computer between FROZEN and THAWED modes
Exec=/usr/bin/cachy-freeze-manager
Icon=cachy-freeze
Terminal=false
Categories=System;
Keywords=freeze;thaw;maintenance;
StartupNotify=true
